// USES
@use 'sass:math';
// IMPORTS
@import 'normalize', 'grid';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// COLORS
$blue: #0009B3;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Space Mono', monospace;
  background-color: $blue;
  color: white;
}

h1 {
  margin: 0;
  
  i {
    font-size: 0;
    visibility: hidden;
    display: none;
  }
}

p {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: 1rem;
  }

  a {
    font-size: 1rem;
    list-style: 1.5;
  }
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: inherit;

  &:hover {
    opacity: .5;
  }
}

[aria-current='page'] {
  pointer-events: none;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

header {
  padding: 4rem 0 2rem;
}

nav {
  text-align: right;

  a {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
    font-size: .875rem;
    line-height: 2.5rem;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: $blue;
      opacity: 1;
    }
  }
}